{% extends 'dci/base.html' %}
{% load static %}
{% block content %}
<section class="container col-8" style="margin-top: 70px">
    <form method="POST" action="{% url 'selecionados' %}">
        {% csrf_token %}
        <div class="card">
            <h5 class="card-header">Atributos da ETP</h5>
            <div class="card-body">
                <div class="form-group">
                    <label for="inputTitulo"><b>Título da ETP</b></label>
                    <input type="text" class="form-control" name="input_titulo" placeholder="Título da ETP"
                        value="{{dci.titulo}}" disabled="True">
                </div>
                <div class="row">
                    <div class="form-group col-md-4">
                        <label for="input_etp"><b>ETP</b></label>
                        <input type="text" class="form-control" name="input_etp" placeholder="etp_num"
                            value="{{dci.etp}}" disabled="True">
                    </div>
                    <input type="text" name="input_etp_value" placeholder="etp_num" value="{{dci.etp}}"
                        style="display: none">
                    <div class="form-group col-md-4">
                        <label for="inputElab"><b>Elaborador</b></label>
                        <input type="text" class="form-control" name="input_elab" placeholder="elaborador"
                            value="{{dci.elaborador}}" disabled="True">
                    </div>
                    <div class="form-group col-md-4">
                        <label for="inputTipEn"><b>Tipo de Entrega</b></label>
                        <select name="input_tp_entrega" class="form-control">
                            <option selected>Escolher...</option>
                            <option>Total</option>
                            <option>Parcial</option>
                            <option>Final</option>
                        </select>
                    </div>
                    <div class="form-group col-md-6">
                        <label for="input_tp_etp"><b>Tipo da ETP</b></label>
                        <input type="text" class="form-control" name="inpu_tp_etp" placeholder="Tipo_Etp"
                            value="{{dci.tipoEtp}}" disabled="True">
                    </div>
                    <div class="form-group col-md-6">
                        <label for="inputVendor"><b>Fornecedor</b></label>
                        <input type="text" class="form-control" name="input_vendor" placeholder="Vendor"
                            value="{{dci.vendor}}" disabled="True">
                    </div>
                    <div class="form-group col-md-12">
                        <label for="inputDesc"><b>Descrição Macro</b></label>
                        <input type="text" class="form-control" name="input_desc" placeholder="Descrição Macro"
                            value="{{dci.descri_etp}}" disabled="True">
                    </div>
                    <div class="form-group col-md-12">
                        <label for="inputObje"><b>Objetivo</b></label>
                        <input type="text" class="form-control" name="input_obje" placeholder="Objetivo"
                            value="{{dci.objetivo}}" disabled="True">
                    </div>
                    <div class="form-group col-md-6">
                        <label for="inputMot"><b>Motivador</b></label>
                        <input type="text" class="form-control" name="input_mot" value="{{dci.motivador}}"
                            disabled="True">
                    </div>

                    <div class="form-group col-md-6">
                        <label for="inputDem"><b>Demanda</b></label>
                        <input type="text" class="form-control" name="input_dem" value="{{dci.demanda}}"
                            disabled="True">
                    </div>
                </div>
                <div class="form-group mt-3">
                    <label for="obv_atributos"><b>Observações sobre os Atributos</b></label>
                    <textarea class="form-control" id="obv_atributos" name="obv_atributos" rows="3"></textarea>
                </div>
            </div>
        </div>
        <section class="mt-3">
            {% if oes %}
            <div class="card">
                <h5 class="card-header">Lista de OES</h5>
                <div class="card-body">
                    <div class="table-responsive overflow-auto" style="max-height: 400px;">
                        <table class="table table-sm table-hover table-bordered table-condensed">
                            <thead>
                                <tr>
                                    <th scope="col">
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" id="selectAll_Oes">
                                        </div>
                                    </th>
                                    <th scope="col">ID</th>
                                    <th scope="col">numOE</th>
                                    <th scope="col">Tipo da OE</th>
                                    <th scope="col">Descrição</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for oe in oes %}
                                <tr>
                                    <th scope="row" style="margin:  0 auto;"> <input class="form-check-input center oes"
                                            type="checkbox" id="gridCheck" name="oe_select" value="{{oe.id}}">
                                    </th>
                                    <th>{{ oe.oe_id }}</th>
                                    <td>{{ oe.num_oe }}</td>
                                    <td>{{ oe.tipo_oe }}</td>
                                    <td>{{ oe.descricao }}</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <div class="form-group mt-3">
                        <label for="obv_oes"><b>Observações sobre OES</b></label>
                        <textarea class="form-control" id="obv_oes" name="obv_oes" rows="3"></textarea>
                    </div>
                </div>
            </div>
            {% else %}
            <h5>Neste projeto não contém OES</h5>
            {% endif %}
        </section>
        <section>
            {% if ots %}
            <div class="card mt-3">
                <h5 class="card-header">Rede Externa: Sim</h5>
                <div class="card-body">
                    <div class="table-responsive overflow-auto" style="max-height: 400px;">
                        <table class="table table-sm table-hover table-bordered">
                            <thead>
                                <tr>
                                    <th scope="col">
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" id="selectAll_Ots">
                                        </div>
                                    </th>
                                    <th scope="col">Id</th>
                                    <th scope="col">numOTS</th>
                                    <th scope="col">Sigla</th>
                                    <th scope="col">Proprietario</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for item in ots %}
                                <tr>
                                    <th scope="row" style="margin:  0 auto;"> <input class="form-check-input ots"
                                            type="checkbox" id="gridCheck" value="{{item.id}}" name="ots_select">
                                    </th>
                                    <th>{{ item.ots_id }}</th>
                                    <td>{{ item.num_ots }}</td>
                                    <td>{{ item.sigla }}</td>
                                    <td>{{ item.proprietario }}</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <div class="form-group mt-3">
                        <label for="obv_rede_ext"><b>Observações sobre Rede</b></label>
                        <textarea class="form-control" id="obv_rede_ext" name="obv_rede_ext" rows="3"></textarea>
                    </div>
                </div>
            </div>
            {% else %}
            <h5>Rede Externa: Não se aplica</h5>
            {% endif %}
        </section>
        <div class="form-group col-md-12">
            <label for="input_doc"><b>Link da Documentação</b></label>
            <input type="text" class="form-control" name="input_doc" placeholder="link da documentação">
        </div>
        <div class="form-group col-md-12">
            <label for="input_topo"><b>Topologia</b></label>
            <input type="text" class="form-control" name="input_topo" placeholder="Topologia">
        </div>
        <div class="form-group mt-3">
            <label for="obv_final"><b>Observações Finais</b></label>
            <textarea class="form-control" name="obv_final" rows="3"></textarea>
        </div>
        <div class="text-center mb-5 mt-3">
            <button type="submit" class="btn btn-primary">Gerar DCI</button>
        </div>
    </form>
</section>
<script>
    document.getElementById('selectAll_Oes').addEventListener('change', function () {
        let checkboxes = document.querySelectorAll('.oes');
        checkboxes.forEach(function (checkbox) {
            checkbox.checked = this.checked;
        }, this);
    }); 
</script>
<script>
    document.getElementById('selectAll_Ots').addEventListener('change', function () {
        let checkboxes = document.querySelectorAll('.ots');
        checkboxes.forEach(function (checkbox) {
            checkbox.checked = this.checked;
        }, this);
    }); 
</script>
{% endblock %}